/* General Layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .datastorage-container {
    display: flex;
    height: 100vh;
    padding-left: 75px;
    background-color: white;
  }
  
  /* Sidebar */
  .datastorage-sidebar {
    width: 220px;
    background-color:white;
    border-right: 1px solid #e0e0e0;
    /* border-bottom: 1px solid #e0e0e0; */
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }
  
  .sidebar-title {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    text-align: left;
  }
  
  
  .datastorage-menu-item {
    font-size: 22px;
    color: #333333;
    padding: 14px;
    /* display: flex; */
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    justify-content: left;
    
    
  }
  
  .datastorage-menu-item span {
    margin-right: 10px;
  }
  
  .datastorage-menu-item:hover,
  .mdatastorage-menu-item.active {
    color: #007bff;
    background-color: #f0f8ff;
    border-radius: 4px;
    margin-top: 2px;
  }
  
  .sidebar-footer {
    padding: 90px 20px 20px 0;
    /* border-top: 1px solid #e0e0e0; */
  }
  
  /* Content Area */
  .datastorage-content-area {
    flex: 1;
    background-color: white;
    padding: 20px;
    padding-top: 80px;
  }
  
  /* .content {
    font-size: 16px;
    color: #333333;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
  }
   */