.container {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background: linear-gradient(#2E3192, #1BFFFF);
  padding: 1rem;
}

.formCard {
  width: 90%; /* Take up more width on smaller screens */
  max-width: 450px; /* Increase max width for larger screens */
  background: white;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Increased padding for better aesthetics */
}

.formHeader {
  margin-bottom: 1.4rem;
}

.title {
  font-size: 1.79rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #666;
  text-align: center;
  font-size: 0.78rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.inputGroup {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.2s;
  font-size: 0.8rem;
}

.input:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.1);
}

.submitButton {
  background: #667eea;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.submitButton:hover {
  background: #764ba2;
}

.forgotPasswordLink{
  color: #667eea;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
    margin-left: 125px;
    font-size: 0.9rem;
}

.forgotPasswordLink:hover {
  color: #764ba2;
}

.signupText {
  text-align: center;
  color: #666;
  font-size: 0.7rem;
  margin: 0;
}

.signupLink {
  color: #667eea;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.signupLink:hover {
  color: #764ba2;
}

.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #10b981;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  animation: slideIn 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .form {
    padding: 20px;
  }

  .row {
    flex-direction: column;
    gap: 0;
  }

  .toast {
    left: 24px;
    right: 24px;
    text-align: center;
    justify-content: center;
  }
}