.payment-failed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .payment-failed-message {
    font-size: 1.5rem; /* Adjust size as needed */
    font-weight: bold;
    color: #ef4444; /* Tailwind's red-500 color */
  }