
.payment-details-container {
  padding-left: 35px;
}

/* Container for the form */
.form-container {
  max-width: 600px;
  padding: 15px 30px;
  border-radius: 8px;
}

/* Title of the form */
.form-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-top: 35px;
}

/* Style for form groups */
.form-group1 {
  margin-bottom: 1rem; /* Space between fields */
  display: flex;
  flex-direction: column;
}

/* Labels for the inputs */
.form-group1 label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Inputs for the form */
.form-group1 input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Buttons container */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back{
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid black;
}

.next {
  background-color: black;
  color: white;
  width: 200px;
  height: 35px;
  border-radius: 5px;
}

/* .btn:hover {
  opacity: 0.9;
} */

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  display: block;
}
