.sidebar4{
    width: 220px;
    /* background-color: #f4f4f4; */
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 641px;
    margin-top: 65px;
}

.sidebar4 ul {
    list-style: none;
    /* padding: 15px; */
  }

  .sidebar4 ul li {
    margin: 10px 0;
    padding: 5px;
  }