/* General container styles */
.create-hub-container {
  max-width: 900px;
  margin-left: 70px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.create-hub-container-heading {
  text-align: left;
  /* margin-bottom: 40px; */
  margin-top: 85px;
  margin-left:15px;
}

.tab-navigation1 {
  display: flex;
  margin-bottom: 20px;
  /* font-weight: bold; */
  margin-left: 1px;
}

.tabs {
  padding: 10px 15px;
  cursor: pointer;
}

.tabs.active {
  /* font-weight: bold; */
  /* border-bottom: 2px solid black; */
  color:#2563EB;
}
/* Form styles */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align label and input side by side */
  gap: 2px;
}

label {
  font-weight: bold;
  flex: 1; /* Adjust label width */
  margin-right: 10px;
  width: 350px;
}

input, select {
  flex: 2; /* Adjust input width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  width: 80%;
}

/* Button group styles */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
}

.btn.back {
  background: linear-gradient(#64748B, #475569);
  color: white;
  border-radius: 6px;
}

.btn.next {
  background: linear-gradient(#2563EB, #1D4ED8);
  color: white;
  border-radius: 6px;
}

.btn.create {
  background: linear-gradient(#059669, #047857);
  color: white;
  border-radius: 6px;
}

.btn:hover {
  opacity: 0.9;
}