.signupContainer {
  width: 100%;
  height: 100%;
  /* padding: 12px; */
  /* background-color: #4f46e5; */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton:hover {
  background-color: #4338ca;
}

.submitButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.submitError {
  display: flex;
  align-items: center;
  padding: 20px;
  /* background: linear-gradient(#2E3192, #1BFFFF); */
}

.form {
  width: 100%;
  max-width: 550px;
  max-height: 90vh;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin: 0;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;
  color: black;
}

.inputGroup input:focus,
.inputGroup select:focus {
  outline: none;
  border-color: #4f46e5;
}

.inputGroup input.error,
.inputGroup select.error {
  border-color: #ef4444;
}

.errorText {
  color: #ef4444;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.row {
  display: flex;
  gap: 20px;
}

.row .inputGroup {
  flex: 1;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #4338ca;
}

.submitButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.submitError {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ef4444;
  margin-top: 12px;
  font-size: 14px;
}

.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #10b981;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  animation: slideIn 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signupText {
  text-align: center;
  color: #666;
  font-size: 0.7rem;
  margin-top: 0.8rem;
}

.signupLink {
  color: #667eea;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.signupLink:hover {
  color: #764ba2;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .form {
    padding: 20px;
  }

  .row {
    flex-direction: column;
    gap: 0;
  }

  .toast {
    left: 24px;
    right: 24px;
    text-align: center;
    justify-content: center;
  }
}